<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Red+Hat+Mono&family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
        rel="stylesheet">
    <title>TO-DO List</title>
    
    <link rel="stylesheet" href="{% static 'styles/main1.css' %}">

</head>

<body>
    <section class="showcase">
        <video src="{% static 'videos/video (2).mp4' %}" muted autoplay loop></video>
        <div class="overlay">

        </div>
        <div class="container">
            <div class="card">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </section>
</body>

</html>