{% extends 'base/main.html' %}

{% block content %}
{% load static %}


    <h1>Hello {{request.user|title}}</h1>
    <h3 style="margin: 0;">You Have <i>{{count}}</i> Incomplete Task</h3>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}


<div id="search-add-wrapper" style="display: flex; justify-content: space-between;">
    <form method="GET" style="margin-top: 20px; display: flex; ">
        <input type="text" name="search-area" value="{{search_input}}" style="margin-right: 20px;">
        <input type="submit" value="Search" class="button">
    </form>
    <a id="add-link" href="{% url 'task-create'%}" style="color: #fff;">&#x2b;</a>
</div>



<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.complete %}
        <div class="task-title" style="margin-top: 40px;">
            <div class="task-complete-icon">

            </div>
            <i ><s><a href="{% url 'task-update' task.id %}" style="color: #fff;">{{task}}</a></s></i>
            <a class="delete-link" href="{% url 'task-delete' task.id %}" style="color: #fff;">&#215;</a>
        </div>
        
        {% else %}
        <div class="task-title" style="margin-top: 40px;">
            <div class="task-incomplete-icon">

            </div>
            <a href="{% url 'task-update' task.id %}" style="color: #fff;">{{task}}</a>
            <a class="delete-link" href="{% url 'task-delete' task.id %}" style="color: #fff;">&#215;</a>
        </div>
        
        {% endif %}
        
    </div>
    {% empty %}
    <h3>No Items in the List</h3>
    {% endfor %}

</div>





{% endblock content %}